body {
	margin: 160px 20px 20px 20px;
	background-color: #882480;
	color: white;
}

a {
	color: white;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}

a:hover {
	color: white;
	text-decoration: none;
	text-shadow: 2px 2px 20px #544C4A;
	filter: dropshadow(color=#544C4A, offx=2, offy=2);
}

#navigation {
	margin-bottom: 20px;
}

#navigation a {
	opacity: 0.2;
}

#navigation a:hover {
	opacity: 1;
}

#about-container {
	position: fixed;
	z-index: 10;
	top: 0px;
	width: 100%;
	height: 160px;
	padding-top: 15px;
	background-color: #882480;
}

#about {
	text-transform: uppercase;
}
#picture-container {
	padding-top: 9px;
	padding-right: 10px;
	float: left;
}

#picture {
	height: 80px;
	width: 54px;
	background-color: white;
	border: solid 2px white;
}

#description {
	float: left;
}

#about h1 {
	margin: 0px;
	font-weight: 400;
	font-size: 54px;
	text-shadow: 2px 2px 20px #544C4A;
	filter: dropshadow(color=#544C4A, offx=2, offy=2);
}

#about h2 {
	margin: 0px;
	font-weight: 400;
	font-size: 26px;
	height: 40px;
	line-height: 42px;
}

.push-icon {
	background-image: url("../img/push.png");
}

.star-icon {
	background-image: url("../img/star.png");
}

.follow-icon {
	background-image: url("../img/follow.png");
}

.comment-icon {
	background-image: url("../img/comment.png");
}

.issue-icon {
	background-image: url("../img/issue.png");
}

.pull-icon {
	background-image: url("../img/pull_request.png");
}

.fork-icon {
	background-image: url("../img/fork.png");
}

#site-content {
}

#activities li {
	padding: 0px 0px 25px 0px;
	opacity: 0.2;
}

#activities h1 {
	margin: 0px 0px 0px 0px;
	font-size: 40px;
}

#activities p {
	font-size: 18px;
}
.activity-meta {
	width: 100px;
	float: left;
}

.activity-time {
	margin: 0px;
	padding-top: 5px;
	text-align: center;
}

.activity-icon {
	margin-top: 20px;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 24px;
}

.activity-message {
	float: left;
	margin-left: 30px;
	height: 100%;
}

.activity-message p {
	margin: 0px 0px 5px 0px;
}
